# Feature Store & Cloud
hopsworks==5.0.4

# Data Processing & ML
pandas
numpy
scikit-learn
lightgbm
xgboost
catboost
statsmodels
shap

# Visualization & App
matplotlib
seaborn
plotly
streamlit
altair

# Utilities
requests
python-dotenv
joblib
loguru
tqdm